.container {
  width: 90%;
  margin: 50px auto;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  margin: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}
